<div class="description">
    <div class="title-description">
        <h1>AQUI E ONDE VAI SER O TITULO</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aliquid perspiciatis aperiam enim minus
            nobis expedita cum nemo incidunt! Distinctio temporibus vel nihil nam quos molestiae cumque atque eos
            itaque?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa deserunt blanditiis voluptate aut, ipsam
            magnam libero ducimus at hic voluptatibus ipsa, quae quidem ut incidunt. Enim doloribus reiciendis ratione
            aut!</p>

    </div>
    <div class="spans">
        <span>
            lugares que o trem roda e aq em
        </span>
        <p>
            value auqi
        </p>
        <a class="button-back" [routerLink]="['']">
            voltar
        </a>
    </div>
</div>