<nav>
    <div class="menu-bar">
        <div class="icon-page">
            <img src="../../../assets/image/png/Ps_store_logo.png" alt="Icone da playstatioStore azul">
            <h3><span>PlayStation</span>Store</h3>
        </div>
        <div class="list-page">
            <ul>
                <li> <a href="">Jogos</a></li>
                <li> <a href="">Hardware</a></li>
                <li> <a href="">Serviços</a></li>
                <li> <a href="">Notícias</a></li>
                <li> <a href="">Loja</a></li>
                <li> <a href="">Suporte</a></li>
            </ul>
        </div>
        <div class="icons-right">
            <ul>
                <li>re</li>
                <li>re</li>
                <li>re</li>
                <li>re</li>
            </ul>
        </div>
    </div>
</nav>